<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Post a track</h1>
  </div>
</div>

<% if @track.errors.any? %>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<strong class="panel-title">Some issues with your track, please fix them:</strong>
		</div>
		<ul class="list-group">
			<% @track.errors.full_messages.each do |track| %>
				<li class="list-group-item"><%= track %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<form method="post" action="/tracks">
	<div class="input-group" style="width:300px;">
		<input type="text" class="form-control" placeholder="Track title" name="title" value="<%= @track.title %>">
	</div>
	<div class="input-group" style="width:300px;">
		<input type="text" class="form-control" placeholder="Artist's Name" name="artist">
	</div>
	<div class="input-group" style="width:300px;">
		<input type="text" class="form-control" placeholder="URL" name="url" value="<%= @track.url %>">
	</div>
	<p></p>
	<div class="input-group">
		<button type="submit" class="btn btn-info">Post</button>
 	</div>
</form>
