<div class="page-header">
	<h1>Post a Track</h1>
</div>
<hr/>

<% if @track.errors.any? %>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<strong class="panel-title">Some issues with your track, please fix them:</strong>
		</div>
		<ul class="list-group">
			<% @track.errors.full_messages.each do |track| %>
				<li class="list-group-item"><%= track %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<form method="post" action="/posts">
	<div class="input-group" style="width:300px;">
		<label>Track title:</label>
		<input type="text" class="form-control" name="title" value="<%= @track.title %>">
	</div>
	<div class="input-group" style="width:300px;">
		<label>Artist:</label>
		<input type="text" class="form-control" name="artist" value="<%=@track.artist %>">
	</div>
	<div class="input-group" style="width:300px;">
		<label>URL:</label>
		<input type="text" class="form-control" name="url" value="<%= @track.url %>">
	</div>
	<p></p>
	<div class="input-group">
		<button type="submit" class="btn btn-info">Post</button>
 	</div>
</form>
