<h1><%= @track.title %> <small>By: <%= @track.artist %> </small></h1>

<p>
	<strong>Author:</strong> <%= @track.author %>
</p>

<p>
	<em><%= @track.url %></em>
</p>

<hr/>
<a href="/posts" class="btn btn-info">
	<span class="glyphicon glyphicon-music"></span> Back to all tracks
</a>
