<h1>Wall of Music</h1>
<hr/>
<div>
  <a href="/posts" class="btn btn-info" role="button">View all posts</a>
</div>
<hr/>
<div>
  <a href="/posts/new" class="btn btn-info" role="button">Post a track</a>
</div>
